@model Optel2.Models.FilmRecipe

@{
    ViewBag.Title = "Delete film recipe data";
}

<table class="custom-table-horizontal">
	<tr>
		<th>&nbsp;&nbsp;@Html.DisplayNameFor(model => model.Article)&nbsp;&nbsp;</th>
		<td>&nbsp;&nbsp;@Html.DisplayFor(model => model.Article)&nbsp;&nbsp;</td>
	</tr>
	<tr>
		<th>&nbsp;&nbsp;@Html.DisplayNameFor(model => model.Recipe)&nbsp;&nbsp;</th>
		<td>&nbsp;&nbsp;@Html.DisplayFor(model => model.Recipe)&nbsp;&nbsp;</td>
	</tr>
	<tr>
		<th>&nbsp;&nbsp;@Html.DisplayNameFor(model => model.Thickness)&nbsp;&nbsp;</th>
		<td>&nbsp;&nbsp;@Html.DisplayFor(model => model.Thickness)&nbsp;&nbsp;</td>
	</tr>
	<tr>
		<th>&nbsp;&nbsp;@Html.DisplayNameFor(model => model.NozzleInsert)&nbsp;&nbsp;</th>
		<td>&nbsp;&nbsp;@Html.DisplayFor(model => model.NozzleInsert)&nbsp;&nbsp;</td>
	</tr>
	<tr>
		<th>&nbsp;&nbsp;@Html.DisplayNameFor(model => model.CoolingLip)&nbsp;&nbsp;</th>
		<td>&nbsp;&nbsp;@Html.DisplayFor(model => model.CoolingLip)&nbsp;&nbsp;</td>
	</tr>
	<tr>
		<th>&nbsp;&nbsp;@Html.DisplayNameFor(model => model.ProductionSpeed)&nbsp;&nbsp;</th>
		<td>&nbsp;&nbsp;@Html.DisplayFor(model => model.ProductionSpeed)&nbsp;&nbsp;</td>
	</tr>
	<tr>
		<th>&nbsp;&nbsp;@Html.DisplayNameFor(model => model.CalibrationDiameter)&nbsp;&nbsp;</th>
		<td>&nbsp;&nbsp;@Html.DisplayFor(model => model.CalibrationDiameter)&nbsp;&nbsp;</td>
	</tr>
	<tr>
		<th>&nbsp;&nbsp;@Html.DisplayNameFor(model => model.Cost)&nbsp;&nbsp;</th>
		<td>&nbsp;&nbsp;@Html.DisplayFor(model => model.Cost)&nbsp;&nbsp;</td>
	</tr>
	<tr>
		<th>&nbsp;&nbsp;@Html.DisplayNameFor(model => model.ExtruderId)&nbsp;&nbsp;</th>
		<td>&nbsp;&nbsp;@Html.DisplayFor(model => model.Extruder.Name)&nbsp;&nbsp;</td>
	</tr>
</table>
<br />
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editForm" }))
{
	@Html.AntiForgeryToken()
	<div class="row">
		<div class="col-auto">
			<a href="javascript:document.getElementById('editForm').submit()" class="btn btn-dark left-menu-btn"><div class="float-left"><img src="~/Images/Menu/delete.png" width="24px" height="24px">&nbsp;Delete</div></a>
		</div>
		<div class="col-auto">
			<a href="@Url.Action("Index")" class="btn btn-dark left-menu-btn"><div class="float-left"><img src="~/Images/Menu/cancel.png" width="24px" height="24px">&nbsp;Cancel</div></a>
		</div>
	</div>
}