@model Optel2.Models.PlanningModel
@{
	ViewBag.Title = "Planning results";
}
	@{
		if (ViewBag.Error)
		{
			<div>This plan can't be completed in the given planning time interval.<br />Try increase planning time interval or decrease count of orders/extruders.</div>
			<br />
			<div class="float-left">
				<a href="#" onclick="javascript:history.go(-1)" class="btn btn-dark left-menu-btn"><div class="float-left"><img src="~/Images/favicon.png" width="24" height="24">&nbsp;Go back to planning settings</div></a>
			</div>
		}
		else
		{
			<div id="gantt-chart-container" style="width: 100%; height:100%;"></div>
		}
	}

<script>
	var chart, mainPage, leftPage;
	$(document).ready(function () {
		chart = document.getElementById("gantt-chart-container");
		mainPage = document.getElementById("main-page");
		leftPage = document.getElementById("left-page");
		fixGanntChart(null);
	});

	$(window).on('resize', fixGanntChart);

	function fixGanntChart(event) {
		var margin = 65;
		var width = mainPage.clientWidth - leftPage.clientWidth - margin;
		chart.style.width = width +"px";
	}
</script>

<script>
	gantt.config.fit_tasks = true;
	gantt.config.date_grid = "%d.%m.%Y %H:%i:%s";
	gantt.config.xml_date = "%d.%m.%Y %H:%i:%s";
	gantt.init("gantt-chart-container");
	gantt.parse(
		{
			"data": [
				{
					"id": "1", "text": "Project #2", "start_date": "01-04-2013", "duration": 18,
					"progress": 0.4, "open": true
				},
				{
					"id": "2", "text": "Task #1", "start_date": "02-04-2013", "duration": 8,
					"progress": 0.6, "parent": "1"
				},
				{
					"id": "3", "text": "Task #2", "start_date": "11-04-2013", "duration": 8,
					"progress": 0.6, "parent": "1"
				}
			],
			"links": [
				{ "id": "1", "source": "1", "target": "2", "type": "1" },
				{ "id": "2", "source": "2", "target": "3", "type": "0" },
				{ "id": "3", "source": "3", "target": "4", "type": "0" },
				{ "id": "4", "source": "2", "target": "5", "type": "2" }
			]
		});
</script>

@section Scripts {
	@Scripts.Render("~/bundles/ganttchart")
	@Scripts.Render("~/bundles/dragscroll")
}

@section Styles {
	@Styles.Render("~/bundles/ganttchart/css")
}
