@model Optel2.Models.Order

@{
    ViewBag.Title = "Delete order data";
}

<table class="custom-table-horizontal">
	<tr>
		<th>&nbsp;&nbsp;@Html.DisplayNameFor(model => model.OrderNumber)&nbsp;&nbsp;</th>
		<td>&nbsp;&nbsp;@Html.DisplayFor(model => model.OrderNumber)&nbsp;&nbsp;</td>
	</tr>
	<tr>
		<th>&nbsp;&nbsp;@Html.DisplayNameFor(model => model.Product)&nbsp;&nbsp;</th>
		<td>&nbsp;&nbsp;@Html.DisplayFor(model => model.FilmRecipe.Article)&nbsp;&nbsp;</td>
	</tr>
	<tr>
		<th>&nbsp;&nbsp;@Html.DisplayNameFor(model => model.Width)&nbsp;&nbsp;</th>
		<td>&nbsp;&nbsp;@Html.DisplayFor(model => model.Width)&nbsp;&nbsp;</td>
	</tr>
	<tr>
		<th>&nbsp;&nbsp;@Html.DisplayNameFor(model => model.RollWeightNet)&nbsp;&nbsp;</th>
		<td>&nbsp;&nbsp;@Html.DisplayFor(model => model.RollWeightNet)&nbsp;&nbsp;</td>
	</tr>
	<tr>
		<th>&nbsp;&nbsp;@Html.DisplayNameFor(model => model.Rolls)&nbsp;&nbsp;</th>
		<td>&nbsp;&nbsp;@Html.DisplayFor(model => model.Rolls)&nbsp;&nbsp;</td>
	</tr>
</table>
<br />
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editForm" }))
{
        @Html.AntiForgeryToken()
		<div class="row">
			<div class="col-auto">
				<a href="javascript:document.getElementById('editForm').submit()" class="btn btn-dark left-menu-btn"><div class="float-left"><img src="~/Images/Menu/delete.png" width="24px" height="24px">&nbsp;Delete</div></a>
			</div>
			<div class="col-auto">
				<a href="@Url.Action("Index")" class="btn btn-dark left-menu-btn"><div class="float-left"><img src="~/Images/Menu/cancel.png" width="24px" height="24px">&nbsp;Cancel</div></a>
			</div>
		</div>
}