@model Optel2.Models.ExtruderNozzleChange

@{
	ViewBag.Title = "Details of exturder nozzle change data";
}

<table class="custom-table-horizontal">
	<tr>
		<th>&nbsp;&nbsp;@Html.DisplayNameFor(model => model.Nozzle)&nbsp;&nbsp;</th>
		<td>&nbsp;&nbsp;@Html.DisplayFor(model => model.Nozzle)&nbsp;&nbsp;</td>
	</tr>
	<tr>
		<th>&nbsp;&nbsp;@Html.DisplayNameFor(model => model.Duration)&nbsp;&nbsp;</th>
		<td>&nbsp;&nbsp;@Html.DisplayFor(model => model.Duration)&nbsp;&nbsp;</td>
	</tr>
	<tr>
		<th>&nbsp;&nbsp;@Html.DisplayNameFor(model => model.ExtruderId)&nbsp;&nbsp;</th>
		<td>&nbsp;&nbsp;@Html.DisplayFor(model => model.Extruder.Name)&nbsp;&nbsp;</td>
	</tr>
</table>
<p>
	<div class="row">
		<div class="col-auto">
			<a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-dark left-menu-btn"><div class="float-left"><img src="~/Images/Menu/edit.png" width="24px" height="24px">&nbsp;Edit</div></a>
		</div>
		<div class="col-auto">
			<a href="@Url.Action("Index")" class="btn btn-dark left-menu-btn"><div class="float-left"><img src="~/Images/Menu/cancel.png" width="24px" height="24px">&nbsp;Cancel</div></a>
		</div>
	</div>
</p>
