html {
	height: 100%;
	overflow-x: hidden;
}

body {
	background: rgb(243, 243, 243);
	/*background: #383836; /* Old browsers 
	background: -moz-linear-gradient(top, #383836 0%, #4a4a4a 100%); /* FF3.6-15 
	background: -webkit-linear-gradient(top, #383836 0%,#4a4a4a 100%); /* Chrome10-25,Safari5.1-6 
	background: linear-gradient(to bottom, #383836 0%,#4a4a4a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383836', endColorstr='#4a4a4a',GradientType=0 ); /* IE6-9 */
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

.top-menu {
	background: #494949; /* Old browsers */
	background: -moz-linear-gradient(top, #494949 0%, #1c1c1c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #494949 0%,#1c1c1c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #494949 0%,#1c1c1c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#1c1c1c',GradientType=0 ); /* IE6-9 */
	margin-bottom: 10px;
}

a {
	color: white;
	background: transparent;
	text-decoration: none;
}

	a:hover {
		text-decoration: none;
		color: white;
	}

.left-menu-btn {
	width: 100%;
	margin-bottom: 10px;
	border: none;
	background: #494949; /* Old browsers */
	background: -moz-linear-gradient(top, #494949 0%, #1c1c1c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #494949 0%,#1c1c1c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #494949 0%,#1c1c1c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#1c1c1c',GradientType=0 ); /* IE6-9 */
}

	.left-menu-btn:hover {
		background: #6d6d6d; /* Old browsers */
		background: -moz-linear-gradient(top, #6d6d6d 0%, #1e1e1e 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #6d6d6d 0%,#1e1e1e 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #6d6d6d 0%,#1e1e1e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#1e1e1e',GradientType=0 ); /* IE6-9 */
	}

.right-page {
	margin: 20px 15px 15px 15px;
}

.left-page {
	padding: 5px 5px 5px 5px;
}

/* Responsive tables */

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
		table-layout: fixed;
	}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

	tr {
		margin: 0 0 1rem 0;
	}

		tr:nth-child(odd) {
			background: #ccc;
		}

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		td:before {
			content: attr(data-label);
		}
}

/* Menu */
.mobile-menu-button {
	display: none;
	color: white;
	font-size: 14pt;
}

.optel-logo {
	color: white;
}

@media screen and (max-width: 900px) {
	.left-page {
		display: none;
	}

	.mobile-menu-button {
		display: block;
	}

	.optel-logo {
		padding-left: 0px;
		padding-right: 0px;
	}
}
