@using Microsoft.AspNet.Identity
<div class="row float-right align-items-center" style="height:100%;">
	@if (Request.IsAuthenticated)
	{
		<div class="col" style="padding-right: 0px;">
			<img src="~/Images/user_m.png" width="48px" height="48px" />
		</div>
		<div class="col" style="padding-left: 1px; color:white;">
			@User.Identity.GetUserName()
		</div>
		<div class="col">
			<a href="/Manage/Index" class="top-menu-url" title="Manage profile"><img src="~/Images/manage_profile.png" width="24px" height="24px" /></a>
		</div>
		<div class="col">
			@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
			{
				@Html.AntiForgeryToken()
				<a href="javascript:document.getElementById('logoutForm').submit()" class="top-menu-url" title="Logout"><img src="~/Images/logout.png" width="24px" height="24px" /></a>
			}
		</div>
			<div class="col">
				&nbsp;
			</div>
	}
	else
	{
		<div class="col">
			@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "top-menu-url align-middle" })
		</div>
		<div class="col">
			@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "top-menu-url align-middle" })
		</div>
		<div class="col">
			&nbsp;
		</div>
	}
</div>