@{
    ViewBag.Title = "Home page";
}

<div class="row">
        <h2>What is Optel?</h2>
        <p>
			Web application for optimal planning and distribution of orders in the production of polymer materials.
        </p>
		<h2>What this application can do?</h2>
		<p>
			The application includes a module for interacting with the database of orders, production lines, time and cost adjustments directories, as well as a tool for the optimal planning of the production of polymeric film. As the output, the user receives a production plan, available in the form of a Gantt chart
		</p>
</div>